<div class="row">
  <div class="col-sm-8">
    <%= image_tag "doctors_home.jpg", class: "img-responsive" %>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Sign Up with CareDash to Edit your Provider Profile</h3>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <h2 class="text-center">Reasons to Sign Up as a Provider on CareDash</h2>
  <div class="col-sm-4">
    <%= image_tag "home1.jpg", class: "img-responsive center-block home-img" %>
    <h3 class="text-center">Headline</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a ex pulvinar, ullamcorper libero ut, eleifend orci. Maecenas eget odio vitae mi euismod tempus. Vivamus vitae turpis dui. Pellentesque ac leo non mi dapibus tincidunt. Sed cursus urna tristique auctor porttitor. Donec egestas hendrerit nisi eget ullamcorper. Vivamus interdum tempor quam, vitae porttitor enim vulputate id. Cras ornare eros diam, in molestie urna ornare et. Donec at sagittis ex.</p>
    <%= link_to "Learn More", "#", class: "btn btn-primary" %>
  </div>
  <div class="col-sm-4">
    <%= image_tag "home2.jpg", class: "img-responsive center-block home-img" %>
    <h3 class="text-center">Headline</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a ex pulvinar, ullamcorper libero ut, eleifend orci. Maecenas eget odio vitae mi euismod tempus. Vivamus vitae turpis dui. Pellentesque ac leo non mi dapibus tincidunt. Sed cursus urna tristique auctor porttitor. Donec egestas hendrerit nisi eget ullamcorper. Vivamus interdum tempor quam, vitae porttitor enim vulputate id. Cras ornare eros diam, in molestie urna ornare et. Donec at sagittis ex.</p>
    <%= link_to "Learn More", "#", class: "btn btn-primary" %>
  </div>
  <div class="col-sm-4">
    <%= image_tag "home3.jpg", class: "img-responsive center-block home-img" %>
    <h3 class="text-center">Headline</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a ex pulvinar, ullamcorper libero ut, eleifend orci. Maecenas eget odio vitae mi euismod tempus. Vivamus vitae turpis dui. Pellentesque ac leo non mi dapibus tincidunt. Sed cursus urna tristique auctor porttitor. Donec egestas hendrerit nisi eget ullamcorper. Vivamus interdum tempor quam, vitae porttitor enim vulputate id. Cras ornare eros diam, in molestie urna ornare et. Donec at sagittis ex.</p>
    <%= link_to "Learn More", "#", class: "btn btn-primary" %>
  </div>
</div>